In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/datasetobatraw.csv')

In [3]:
df.head()

       Nama Obat  Efektivitas  Efek Samping  Harga
0    Paracetamol          7.5           4.9    8.0
1      Ibuprofen          7.4           5.5    9.0
2        Aspirin          9.0           7.8    9.0
3        Caffein          9.7           5.5    4.0
4  Acetaminophen          7.5           8.0    4.0

In [5]:
df.dtypes

Nama Obat        object
Efektivitas     float64
Efek Samping    float64
Harga           float64
dtype: object

In [9]:
def convert_floats_to_integers(input_csv, output_csv, fillna_value=0):
    # Membaca file CSV
    df = pd.read_csv(input_csv)
    
    # Mengisi nilai NaN dengan nilai default jika ada
    df = df.fillna(fillna_value)
    
    # Mengubah kolom float menjadi integer
    for col in df.select_dtypes(include=['float']).columns:
        # Cek jika kolom berisi nilai non-numeric, kita coba mengubahnya
        df[col] = pd.to_numeric(df[col], errors='coerce')  # Mengubah non-numeric menjadi NaN
        df[col] = df[col].fillna(fillna_value).astype('int')  # Mengisi NaN dengan nilai default dan konversi ke int
    
    # Menyimpan hasil ke file CSV baru
    df.to_csv(output_csv, index=False)

# Contoh penggunaan fungsi
input_csv = '../data/datasetobatraw.csv'
output_csv = '../data/dataset_int.csv'
convert_floats_to_integers(input_csv, output_csv)

In [13]:
data = pd.read_csv('../data/dataset_int.csv')

In [14]:
data.head()

       Nama Obat  Efektivitas  Efek Samping  Harga
0    Paracetamol            7             4      8
1      Ibuprofen            7             5      9
2        Aspirin            9             7      9
3        Caffein            9             5      4
4  Acetaminophen            7             8      4

In [15]:
data.tail()

       Nama Obat  Efektivitas  Efek Samping  Harga
13   Sumatriptan            9             5      4
14   Rizatriptan            7             6      3
15  Zolmitriptan            9             3      2
16   Naratriptan            8             3      5
17   Almotriptan            7             4      5